.formulario {
    position: absolute;
    bottom: 59%;
    right: 46%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .Log {
    position: absolute;
    bottom: 75%;
    right: 50%;
    transform: translate(50%, 50%);
    color: white;
    font-size: 4rem;
    padding: 15px;
  }

  .camposOb {
    position: absolute;
    bottom: 56%;
    right: 50%;
    transform: translate(50%, 50%);
    color: white;
    font-size: 1rem;
    padding: 15px;
  }